name: 빌드 후 GCHR 푸시

on:
  push:
    # branches: [main]
  # workflow_dispatch:

jobs:
  # job은 병렬로 처리되기 때문에 순서가 중요하다면 같은 job 안에 step으로 진행
  build-and-push:
    runs-on: ubuntu-latest # amd64

    steps:
      # 작동 테스트용
      - name: Logging
        run: echo 'Hello Docker!'